* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 ,h3 {
    font-weight: 900px;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.header {
    width: 900px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar .links{
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.nav-bar .logo{
    font-size: 24px;
    color: #f9faf8;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main > div{
    width: 400px;
}

.main .content > * {
    margin-bottom: 10px;
    font-size: 18px;
}

.main .content .title {
    font-size: 48px;
    color: #f9faf8;
}

.main .content .signup {
    padding: 5px 20px;
    color: white;
    background-color: #3882f6;
    border-style: none;
    border-radius: 4px;
}
